**18. 문자열을 정수로 바꾸기**

문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요.

In [23]:
# 내 코드 

def solution(n):
    return int(n)

# s = "-1234"
# solution(s)

-1234

In [10]:
# 더 나은 코드 

def solution(str):
    result = 0

    for idx, number in enumerate(str[::-1]):
        if number == '-':
            result *= -1
        else:
            result += int(number) * (10 ** idx)
    return result 


solution('-1234')

-1234